<a [routerLink]="['/dashboard']">Home</a> |  <a [routerLink]="['/question',new_question._id]">Go Back to Question</a>  <a href="/logout">Logout</a>

<div><h4>{{new_question.question_content}}</h4></div>
<div><h5>{{new_question.option1}}</h5></div>

<div>
  <form (submit)="onAnswerSubmit(); formData.reset()" class="my-form" #formData='ngForm'>
    <label>Your Answer:</label> 
    <textarea 
      type="text" 
      name="answer_content" 
      required 
      minlength="5" 
      maxlength="200"
      [(ngModel)]="new_answer.content"
      #answer_contents='ngModel'
    ></textarea>
    <span *ngIf = 'answer_contents.dirty && answer_contents.invalid' class="ng-invalid">
      <span *ngIf = "answer_contents.errors.required">An answer is required</span>
      <span *ngIf = "answer_contents.errors.minlength">Your answer must be at least 5 characters long.</span>
    </span>
    <br>

    <label>Supporting details for your answer (optional)</label> 
    <textarea 
      type="text" 
      name="answer_desc" 
      maxlength="200"
      [(ngModel)]="new_answer.desc"
      #answer_descs='ngModel'
    ></textarea>
    <br>
    <button [routerLink]="['/dashboard']">Cancel</button>
    <input [disabled]="formData.invalid" type="submit" value='Submit'>
  </form>
</div>

